
//main styles
* {
	font-family: $custom-font-family;
}

.main-wrapper{
	padding: 0 0 0 0;
	width: 100%;
	margin: 0 auto;
    position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	width: 100%;
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 57px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
}
.chat{
	width: 800px;
	margin: 0 auto;
}



* {
	box-sizing: border-box;
}

body {
	background-color: #edeff2;
	font-family: "Calibri", "Roboto", sans-serif;
}
.chat_window {
	position: absolute;
	width: calc(100% - 20px);
	max-width: 800px;
	height: 700px;
	border-radius: 10px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	background-color: #394f66;
	overflow: hidden;
}

.top_menu {
	background-color: $primary-color;
	width: 100%;
	padding: 20px 0 15px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.6);

	.title {
		text-align: center;
		color: #FFF;
		font-size: 20px;
	}
}

.messages {
	position: relative;
	z-index: 5;
	list-style: none;
	padding: 50px 10px 20px 10px;
	margin: 0;
	height: 553px;
	overflow-y: scroll;
	.message {
		clear: both;
		overflow: hidden;
		margin-bottom: 20px;
		transition: all 0.5s linear;
		min-width:50%;

		/*opacity: 0;*/

		&.user {
			float: left;
			.avatar {
				background-color: lighten(#394f66, 10%);
				float: left;
			}
			.text_wrapper {
				background-color: #1eb9bd;
				margin-left: 20px;
				&::after, &::before {
					right: 100%;
					border-right-color: #1eb9bd;
				}
			}
			.text {
				color: #FFF;
			}
			.date{
				font-size: 10px;
				position: absolute;
				bottom: 7px;
				right: 20px;
				color: darken(#1eb9bd, 20%);
			}
		}
		&.bot {
			float: right;
			.avatar {
				background-color: lighten(#394f66, 15%);
				float: right;
			}
			.text_wrapper {
				background-color: #FFF;
				margin-right: 20px;
				float: right;
				&::after, &::before {
					left: 100%;
					border-left-color: #FFF;
				}
			}
			.text {
				color: #1b232e;
			}
			.date{
				font-size: 10px;
				position: absolute;
				bottom: 7px;
				right: 20px;
				color: darken(#FFF, 35%);
			}
		}
		&.appeared {
			opacity: 1;
		}
		.avatar {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			display: inline-block;
		}
		.text_wrapper {
			display: inline-block;
			padding: 15px 20px 25px 20px;
			border-radius: 6px;
			width: calc(100% - 85px);
			min-width: 100px;
			position: relative;
			line-height: 1.2;
			&::after, &:before {
				top: 16px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&::after {
				border-width: 8px;
				margin-top: 0px;
			}
			&::before {
				border-width: 10px;
				margin-top: -2px;
			}
			.text {
				font-size: 16px;
				font-weight: 300;
			}
		}
	}
}

.bottom_wrapper {
	width: 100%;
	background-color: #2d3e50;
	padding: 20px 20px;
	position: absolute;
	bottom: 0;
	.message_input_wrapper {
		display: inline-block;
		height: 50px;
		border-radius: 25px;
		border: 1px solid #bcbdc0;
		width: calc(100% - 160px);
		position: relative;
		padding: 0 20px;
		background-color: #FFF;
		.message_input {
			border: none;
			height: 100%;
			box-sizing: border-box;
			width: calc(100% - 40px);
			position: absolute;
			outline-width: 0;
			color: gray;
		}
	}
	.send_message {
		width: 140px;
		height: 50px;
		display: inline-block;
		border-radius: 50px;
		background-color: $primary-color;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s linear;
		text-align: center;
		float: right;
		&:hover {
			background-color: darken($primary-color, 10%);
		}
		.text {
			font-size: 18px;
			font-weight: 300;
			display: inline-block;
			line-height: 50px;
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn .9s ease-out 1 forwards;
}

.is-paused {
	animation-play-state: paused;
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1200px) {
	.main-wrapper {
		padding: 0 15px;
	}
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}



